
.footer {
    display: flex;
    background: #333;
    color: #fff !important;
    flex-direction: column;
    padding: 30px;

    @media (min-width: 768px) {
        & {
            flex-direction: row;
            justify-content: space-evenly;
        }

        &__contact {
            order: 2;
            flex-basis: 40%;
        }

        &__info {
            order: 1;
            text-align: center;
            flex-basis: 40%;     
        }
    }

    &__info {
        padding-bottom: 1.5rem;
        order: 2;
    }

    &__sm {
        font-size: 1.5rem;
    }

    &__contact {
        line-height: 1;
    }

    
    &__link {
        color: #fff;
        text-decoration: none;
    }
}

