
.footer {
    display: flex;
    background-image: linear-gradient(#000080 50%, #333 50%);
    color: #fff !important;
    flex-direction: column;
    padding: 80px 0;
    padding-left: 40px;

    @media (min-width: 768px) {
        background-image: linear-gradient(-45deg, #659897 50%, #333 50%);

        & {
            flex-direction: row;
            justify-content: space-evenly;
            font-size: 1.5rem;
        }

        &__contact {
            order: 2;
            flex-basis: 35%;
        }

        &__info {
            order: 1;
            text-align: center;
            flex-basis: 40%;     
        }
    }

    &__info,
    &__contact {
        padding: 1.5rem 0;
    }

    &__info {
        order: 2;
    }

    &__sm {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    &__contact {
        line-height: 1;

        &-phone,
        &-email {
            font-size: 16px;
        }
    }

    
    &__link {
        color: #fff;
        font-size: 16px;
        text-decoration: none;
    }
}

