.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0;
    background: #fff;
    
    &__title {

    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        @include transform(translate(-50%, -50%));
        text-decoration: none;

        @media (min-width: 768px) {
            text-align: center;
        }

        @media (min-width: 992px) {
            text-align: left;
            padding-left: 10rem;
        }
        
    }
}

.custom__header {
    &-img {
        width: 100%;
        height: auto;
        padding-top: 116.5px;

        @media (min-width: 992px) {
            height: 100vh;
        }
    }
}

.entry-title {
    display: none;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}

/*-----------------------------------------------
                    PLUGINS
-----------------------------------------------*/

.n2-section-smartslider {
    padding-top: 83.7px;

    @media (min-width: 800px) {
        padding-top: 101.5px;
    }
}

@media (min-width: 800px) {
    div#n2-ss-2 .n2-ss-layer .n2-font-46e6012454f5dee2b63d90c4c738d0b6-hover {
        font-size: 200% !important;
    }

    div#n2-ss-2 .n2-ss-layer .n2-font-6d74b65ca3f52fd7b5231e0445e81fb3-paragraph {
        font-size: 120% !important;
    }

    div#n2-ss-2 .n2-font-a5199659082743da83b50513c09fe6ce-link a {
        font-size: 100% !important;
    }

    div#n2-ss-2 .n2-style-7616a002983871b7b2b854b153fe3f95-heading {
        padding: 5px 20px 5px 20px !important;
    }
}


@media (min-width: 1200px) { 
    div#n2-ss-2 .n2-ss-layer .n2-font-46e6012454f5dee2b63d90c4c738d0b6-hover {
        font-size: 343.75% !important;
    }

    div#n2-ss-2 .n2-ss-layer .n2-font-6d74b65ca3f52fd7b5231e0445e81fb3-paragraph {
        font-size: 200% !important;
    }

    div#n2-ss-2 .n2-font-a5199659082743da83b50513c09fe6ce-link a {
        font-size: 120% !important;
    }

    div#n2-ss-2 .n2-style-7616a002983871b7b2b854b153fe3f95-heading {
        padding: 10px 30px 10px 30px !important;
    } 
}



