.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0;
    background: #fff;

    &__title a,
    &__description a {
        text-decoration: none;
    }

    &__title a {
        font-size: 1.8rem;
        color: #d7342f;
    }

    &__description a {
        font-size: 1.3rem;
        text-transform: uppercase;
    }

    &__content {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        @include transform(translate(-50%, -50%));
        text-decoration: none;

        @media (min-width: 992px) {
            &__content {
                padding: 10rem 0 10rem 5rem;
                left: 10%;
                @include transform(translate(-10%, -50%));
            }

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 60%;
                height: 100%;
                z-index: -1;
                padding: 20px 0;
                background: rgba(255, 255, 255, 0.4);
            }
        }
        
    }
}

.custom__header {
    &-img {
        width: 100%;
        height: 100vh;
        padding-top: 116.5px;
    }
}