.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0;
    background: #fff;

    &__branding {
        flex: 1 0 80%;

        @media (min-width: 800px) {
            flex: 1;
        }
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        @include transform(translate(-50%, -50%));
        text-decoration: none;

        @media (min-width: 768px) {
            text-align: center;
        }

        @media (min-width: 992px) {
            text-align: left;
            padding-left: 10rem;
        }
        
    }
}

.custom__header {
    &-img {
        width: 100%;
        height: auto;
        padding-top: 116.5px;

        @media (min-width: 992px) {
            height: 100vh;
        }
    }
}

.entry-title {
    display: none;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}