.about {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;


  &__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &-author {
      flex: 1 0 100%;
      margin-bottom: 1.5rem;
      padding: 0;

      @media only screen and (min-width: 580px) {
        padding: 1rem;
      
      }

      @media (min-width: 968px) {
        flex-basis: 45%;
      }
    }
  }

  @media only screen and (min-width: 580px) {
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
  }

  &__child {
    flex: 1;
    margin: 0;
    position: relative;

    @media only screen and (min-width: 580px) {
      flex: 1 0 48%;
      margin-bottom: 1.5rem;
      margin-right: 10px ;
      margin-left:10px;
      padding: 0;
    }
  }



  &__img {
    position: relative;
    bottom: 0;
    width: auto !important;
    height: 400px !important;

    & img {
      width: 100%;
      height: 100%;
    }
    
  }

  &__btn{
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 15px 20px;
    background: #659897;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    color:#fff;
    position: absolute;
    bottom:0;
   
}

  &__name{
    width:100%;
    text-decoration:none;
    font-weight:bold;
    text-align: center;
  }

  &__title{
    width:100%;
    text-decoration:none;
    text-align: center;
  }

  &__description {
    max-width: 98%;
    margin: 0 auto;
  }
} 

.trainer {
  max-width: 1300px;
  margin: 0 auto;
  @include clearfix();

  &__container {
    margin: 0;
    @include clearfix();

    @media only screen and (min-width: 580px) {
      margin: 2rem 0;
    }

    & img {
      // width: auto;
      height: 400px;
      margin-right: 12px;
      margin-top: 0;
      margin-bottom: 10px;
      float: left;

      @media only screen and (min-width: 580px) {
        margin-top: 40px;
        width: auto;
      }
    }
  }


  &__name {
    display: inline-block;
    margin-bottom: 0 !important;
    font-size: 2rem;
    padding: 1rem;

    @media only screen and (min-width: 580px) {
      padding: 0;
    }
  }

  &__title {
    margin: 0;
    color: #333;
    padding: 0 1rem;

    @media only screen and (min-width: 580px) {
      padding: 0;
    }
  }

  &__description {
    line-height: 1.7;
    padding: 1rem;

    @media only screen and (min-width: 580px) {
      padding: 0;
    }
  }

  &__btn {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    width: 100%;

    & > a {
      display: block;
      text-decoration: none;
      color: #fff;
      padding: 15px;
      background-color: #659897;
      width: 100%;
    }
  }
}