.contact {
    max-width: 1200px;
    margin: 0 auto !important;

    &__btn {
        background-color: #351ebf;
        padding: 12px 24px;
        text-transform: uppercase;
        color: #fff;
    }

    &__heading {
        text-transform: uppercase;

        &--secondary {
            font-size: 40px;
            text-align: center;
            margin-bottom: 4rem;
            margin-top: 2rem;
        }

        &--tertiary {
            font-size: 30px;
            max-width: 1200px;
            margin: 1rem auto;
        }
    }
}