.faq {
  width: 90%;
  margin: 1rem auto;

  @media (min-width: 568px) {
    width: 90%;
    margin: 4rem auto;
  }
  
  &__accordion {
    background-color: #351ebf;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

    @media (min-width: 568px) {
      font-size: 18px;
    }

    &::after {
      content: '\002B';
      color: #fff;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }
  }

  &__panel {
    padding: 0 18px;
    background-color: white;
    border: 1px solid #351ebf;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

.active::after {
  content: "\2212";
}

.active, .faq__accordion:hover {
  background-color: #333;
}