.tprograms {
    display: flex;
    flex-direction: column;

    @media (min-width: 576px) {
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 1300px;
        margin: 0 auto;
    }
    

    &__training-item {
        flex: 1;
        text-align: center;
        margin: 0;
        position: relative;
        top: 0;
        left: 0;

        img {
            width: 100%;
        }

        & figcaption {
            position: absolute;
            top: 50%;
            left: 50%;
            color: #000;
            font-size: 1.5rem;
            width: 100%;
            padding: 1rem 0;
            background-color: rgba(255, 255, 255, 0.5);
            @include transform(translate(-50%, -50%));

            @media (min-width: 576px) {
                position: static;
                transform: none;
                padding: 0;
            }
        }

        @media (min-width: 576px) {
            flex: 1 0 50%;
            text-align: center;
            margin-bottom: 3rem;

            img {
                max-width: 90%;
                height: auto;
            }
        }
    }
}