#wpsm_accordion_1000 {

    @media (min-width: 768px) {
        width: 90% !important;
        margin: 0 auto;
    }
    
    & .ac_title_class {
        font-size: 16px;
        font-family: 'Asap' !important;

        @media (min-width: 768px) {
            font-size: 25px;
            padding: 20px 25px !important;
        }
    }

    & .wpsm_panel-body {
        line-height: 1.7;

        @media (min-width: 768px) {
            font-size: 18px !important;
        }
    }
}

.entry-content #wpsm_accordion_1000 .ac_open_cl_icon {
    @media (min-width: 768px) {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }
}

.n2-section-smartslider {
    padding-top: 83.7px;

    @media (min-width: 800px) {
        padding-top: 101.5px;
    }
}

@media (min-width: 800px) {
    div#n2-ss-2 .n2-ss-layer .n2-font-46e6012454f5dee2b63d90c4c738d0b6-hover {
        font-size: 200% !important;
    }

    div#n2-ss-2 .n2-ss-layer .n2-font-6d74b65ca3f52fd7b5231e0445e81fb3-paragraph {
        font-size: 120% !important;
    }

    div#n2-ss-2 .n2-font-a5199659082743da83b50513c09fe6ce-link a {
        font-size: 100% !important;
    }

    div#n2-ss-2 .n2-style-7616a002983871b7b2b854b153fe3f95-heading {
        padding: 5px 20px 5px 20px !important;
    }
}

@media (min-width: 1200px) { 
    div#n2-ss-2 .n2-ss-layer .n2-font-46e6012454f5dee2b63d90c4c738d0b6-hover {
        font-size: 343.75% !important;
    }

    div#n2-ss-2 .n2-ss-layer .n2-font-6d74b65ca3f52fd7b5231e0445e81fb3-paragraph {
        font-size: 200% !important;
    }

    div#n2-ss-2 .n2-font-a5199659082743da83b50513c09fe6ce-link a {
        font-size: 120% !important;
    }

    div#n2-ss-2 .n2-style-7616a002983871b7b2b854b153fe3f95-heading {
        padding: 10px 30px 10px 30px !important;
    } 
}

div#n2-ss-2 .n2-ss-slide {
    background-color: rgba(0, 0, 0, 0.45);
}