.main-navigation {
	// display: flex;
	// justify-content: flex-end;
	// padding: 1rem 2rem;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		padding: 1rem 1.5rem;
		text-transform: uppercase;
		color: #fff !important;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {

	}

	& .sub-menu {
		background-color: #333;

		& .menu-item {
			transition: all .3s;
		}

		& .menu-item:hover {
			background: rgba(255, 255, 255, 0.2);
			color: #000;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: flex;
}


.navigation {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	width: 100%;
	
	&__button {
		align-self: center;
		margin-left: auto;
	}

	.menu-menu-1-container {
		flex: 1 0 100%;
	}

	&__items {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}

	.navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 1160px;
		margin: 0 auto;

		.menu-menu-1-container {
			flex: none !important;
		}

		&__items {
			flex-direction: row;
		}
	}

	
	
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.custom-logo {
	width: 250px;
	height: auto;
}