.sticky {
	display: block;
}

.post,
.page {

}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	padding: 2rem 0;

	@media screen and (min-width: 768px) {
		padding: 5rem 0;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
